<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch sử hình phạt</title>
    <link rel="stylesheet" href="../static/css/penalties.css">
</head>

<body>
    <div class="container">
        <!-- SIDEBAR -->
        <div class="sidebar">
            <h2>LibraryHub</h2>
            <ul>
                <li>Danh sách sách mượn</li>
                <li>Lịch sử sách đã mượn</li>
                <li class="active">Hình phạt</li>
                <li>Thông báo</li>
                <li>Đăng Xuất</li>
            </ul>
        </div>

        <div class="content">
            <div class="title"> Lịch sử hình phạt</div>
            <table>
                    <tr>
                        <th>Mã phạt</th>
                        <th>Lý do</th>
                        <th>Tiền phạt</th>
                        <th>Ngày phạt</th>
                        <th>Trạng thái</th>
                    </tr>

                    <tr>
                        <td>PF001</td>
                        <td>Trả sách trễ 5 ngày</td>
                        <td>20.000đ</td>
                        <td>12/11/2025</td>
                        <td class="unpaid">Chưa thanh toán</td>
                    </tr>

                    <tr>
                        <td>PF002</td>
                        <td>Làm rách trang sách</td>
                        <td>50.000đ</td>
                        <td>03/10/2025</td>
                        <td class="paid">Đã thanh toán</td>
                    </tr>

                    <tr>
                        <td>PF003</td>
                        <td>Làm mất sách</td>
                        <td>120.000đ</td>
                        <td>01/09/2025</td>
                        <td class="unpaid">Chưa thanh toán</td>
                    </tr>
            </table>

            <div class="note">
                * Ghi chú: Vui lòng đến thư viện hoặc thanh toán online để xử lý các khoản phí còn tồn đọng.
            </div>

        </div>
    </div>
</body>

</html>